<app-nav></app-nav>
<br><br><br>
<link rel="stylesheet" href="contact.component.css">
<!-- Section: Contact v.1 -->
<section class="my-5">

    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold text-center my-5">Bize Ulaşın</h2>
    <!-- Section description -->
    <p class="text-center w-responsive mx-auto pb-5">Araba Kiralamanın En Kolay Hali!</p>
  
    <!-- Grid row -->
    <div class="row">
  
      <!-- Grid column -->
      <div class="col-lg-5 mb-lg-0 mb-4">
  
        <!-- Form with header -->
        <div class="card">
          <div class="card-body">
            <!-- Header -->
            <div class="form-header blue accent-1">
              <h3 class="mt-2"><i class="fas fa-envelope"></i> Bize Ulaşın:</h3>
            </div>
            <p class="dark-grey-text">7/24 Sizlerleyiz</p>
            <!-- Body -->
            <div class="md-form">
              <i class="fas fa-user prefix grey-text"></i>
              <input type="text" id="form-name" class="form-control">
              <label for="form-name">Ad-Soyad</label>
            </div>
            <div class="md-form">
              <i class="fas fa-envelope prefix grey-text"></i>
              <input type="text" id="form-email" class="form-control">
              <label for="form-email">E-Mail</label>
            </div>
            <div class="md-form">
              <i class="fas fa-pencil-alt prefix grey-text"></i>
              <textarea id="form-text" class="form-control md-textarea" rows="3"></textarea>
              <label for="form-text">Mesajınız</label>
            </div>
            <div class="text-center">
              <a href=""><button class="btn btn-primary">Gönder</button></a>
            </div>
          </div>
        </div>
        <!-- Form with header -->
  
      </div>
      
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-lg-7">
  
        <!--Google map-->
        <div id="map-container-section" class="z-depth-1-half map-container-section mb-4" style="height: 400px">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3047.650878851451!2d29.05089711525054!3d40.19458237939157!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14ca3e06a07d8ea5%3A0x9f4ff3d94e5a6501!2sBursa%20Rent%20A%20Car!5e0!3m2!1str!2str!4v1642643968297!5m2!1str!2str" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
        <!-- Buttons-->
        <div class="row text-center">
          <div class="col-md-4">
            <a class="btn-floating blue accent-1">
              <i class="fas fa-map-marker-alt"></i>
            </a>
            <p>Bursa , 16580</p>
            <p class="mb-md-0">Türkiye</p>
          </div>
          <div class="col-md-4">
            <a class="btn-floating blue accent-1">
              <i class="fas fa-phone"></i>
            </a>
            <p>+90 537 771 1596</p>
            <p class="mb-md-0">Pazartesi-Pazar , 7/24</p>
          </div>
          <div class="col-md-4">
            <a class="btn-floating blue accent-1">
              <i class="fas fa-envelope"></i>
            </a>
            <p>Z-CAR</p>
            <p class="mb-0">zuleyha.azkun12@gmail.com</p>
          </div>
        </div> 
      </div>
      <br>
      <br>
      

      <div class="row pt-5 mt-5 text-center">
        <div class="col-md-12">
          <div class="border-top pt-5">
            <p>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          &copy;<script>document.write(new Date().getFullYear());</script> Z-CAR | Since 2021 <br> ZÜLEYHA AZKUN
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
          </div>
        </div>

      </div>
      <!-- Grid column -->
  
    </div>
    <!-- Grid row -->
  
  </section>
  <!-- Section: Contact v.1 -->
  