<app-nav></app-nav>
<br><br><br>

<div class="container mt-5 mb-5">

    <h1 class="text-center">Hakkımızda</h1>

    <p>Z-CAR <br>
        Kısa dönem araç kiralama sektörüne farklı bir anlayış getirecek olan, yeni nesil araç kiralama sloganı ile faaliyete geçen Z-CAR, Anadolu Grubu’nun tüm şirketleri gibi sektöründe ayrışan, fark yaratan bir anlayışla müşterilerine hizmet vermeyi hedefliyor.
        
        %100 Anadolu Grubu sermayesi ile kurulan Z-CAR, global bir marka olma vizyonuna sahip tek Türk araç kiralama markasıdır. Marka, iş veya özel maksatla kiralama yapan müşterilerin, beklentileri doğrultusunda kurumsallığa sahip ama aynı zamanda da kendi ülkelerine ait ve samimi buldukları bir marka beklentileri düşünülerek ortaya çıkarıldı.
        <br>
        <br>
        Z-CAR markasını, diğer global ve kurumsal araç kiralama şirketlerinden ayrıştıran en önemli özelliği, tamamen müşterilerinin konforu ve mutluluğu düşünülerek geliştirilen teknolojik altyapısıdır. <br>
        <br>
        Z-CAR araç kiralama sürecinin her adımında güven ve destek sağlıyor. Müşterinin tüm beklentilerini göz önünde bulundurarak ürün ve hizmetlerini geliştiren Z-CAR, araç kiralayan müşterinin ihtiyaç duyabileceği her konuda teknolojiyi kullanarak, beklentilerin üzerinde hizmet sunmayı hedefliyor.
        
        </p><br><br>

        <div class="follow text-center">
            <h4><strong>Aşağıdaki Hesaplardan Bizi Takip Et</strong> </h4> <br>
            <a href="https://www.youtube.com/channel/UCbx5A8Ooi9rAmGQCtY9FODQ"><span class="fab fa-youtube"></span></a>
            <a href="https://www.facebook.com/aslanoba.esma/"><span class="fab fa-facebook"></span></a>
            <a href="https://www.instagram.com/zuleyhatkm_/"><span class="fab fa-instagram"></span></a>
            <a href="https://twitter.com/ZuleyhAzkun"><span class="fab fa-twitter"></span></a>
    
        </div>
        
        <div class="row pt-3 mt-3 text-center">
            <div class="col-md-12">
              <div class="o-top pt-4">
              <p>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              &copy;<script>document.write(new Date().getFullYear());</script> Z-CAR | Since 2021 <br> ZÜLEYHA AZKUN
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              </p>
              </div>
            </div>
    
          </div>
          

</div>