<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link rel="stylesheet" href="register.component.css">


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kayıt Ol</title>
</head>
<body>
    <app-nav></app-nav>
    <div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-form-title" style="background-image: url(assets/backround1.gif);">
			
				</div>

				<form class="login100-form validate-form" #frm="ngForm" (ngSubmit)="KayitYap()">
					<div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
						<span class="label-input100">Adı Soyadı</span>
						<input type="text" name="adsoyad" id="" #adsoyad class="form-controll" [(ngModel)]="secUye.adsoyad" required>
						<span class="focus-input100"></span>
					</div>
                    <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
						<span class="label-input100">E posta</span>
						<input type="text" name="mail" id="" #mail class="form-controll" [(ngModel)]="secUye.mail" required>
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-18" data-validate = "Şifreniz">
						<span class="label-input100">Şifre</span>
						<input type="text" name="mail" id="" #parola class="form-controll" [(ngModel)]="secUye.parola" required>
						<span class="focus-input100"></span>
					</div>
                    <div [ngClass]="sonuc.islem?   'alert alert-success':'alert alert-danger'  " *ngIf="sonuc.mesaj?.length>0">{{sonuc.mesaj}}</div>
					

					<div class="container-login100-form-btn mt-3">
						<input type="submit" class="btn btn-success text-center" value="Kayıt Ol" [disabled]="frm.invalid"> &nbsp; &nbsp; &nbsp;
						<input type="submit" class="btn btn-success text-center" value="Giriş Yap"  routerLink="/login">
                        
					</div>
				</form>
			</div>
		</div>
	</div>
    <app-footer></app-footer>
</body>
</html>
