<link rel="stylesheet" href="footer.component.css">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap" rel="stylesheet">
<footer class="site-footer">
    <div class="container mt-1">
      <div class="row text-md-center">
        <div class="col-lg-12">
          <h1 class="footer-heading mb-4"><strong>Araç Kiralamanın En Kolay Hali!</strong></h1>
          <p>Sosyal Medya Hesaplarımız...</p>
          <ul class="list-unstyled social">
            <li><a href="zuleyha.azkun12@gmail.com"><span class="fab fa-google"></span></a></li>
            <li><a href="https://www.facebook.com/aslanoba.esma/"><span class="fab fa-facebook"></span></a></li>
            <li><a href="https://www.instagram.com/zuleyhatkm_/"><span class="fab fa-instagram"></span></a></li>
            <li><a href="https://github.com/zazkun"><span class="fab fa-github"></span></a></li>
          </ul>
        </div>
        <div class="site-section bg-light py-5">
          <div class="container">
            <div class="row align-items-center"> 
        <div class="col-lg-12 mb-4 mb-md-0">
          <div class="row">
            <div class="col-lg-3">
              <h2 class="footer-heading mb-4"> <strong>Anasayfa</strong></h2>
              <ul class="list-unstyled">
                <li><a href="#">Gizlilik</a></li>
                
              </ul>
            </div>
            <div class="col-lg-3">
              <h2 class="footer-heading mb-4"> <strong> Araçlar</strong></h2>
              <ul class="list-unstyled">
                <li><a href="#">Ödeme Yöntemleri</a></li>

              </ul>
            </div>
            <div class="col-lg-3">
              <h2 class="footer-heading mb-4"><strong>Hakkımızda</strong></h2>
              <ul class="list-unstyled">
                <li><a href="#">Araç Bakımı</a></li>

              </ul>
            </div>
            <div class="col-lg-3">
              <h2 class="footer-heading mb-4"><strong>İletişim</strong></h2>
              <ul class="list-unstyled">
                <li><a href="#">GPS</a></li>

              </ul>
            </div>
          </div>
            </div>
          </div>
        </div>  

        </div>
      </div>
      <div class="row pt-5 mt-5 text-center">
        <div class="col-md-12">
          <div class="border-top pt-5">
            <p>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          &copy;<script>document.write(new Date().getFullYear());</script> Z-CAR | Since 2021 <br> <a href="https://www.instagram.com/zuleyhatkm_/">ZÜLEYHA AZKUN</a>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
          </div>
        </div>

      </div>
    </div>
  </footer>